.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px 0;
  @include mobileSS {
    display: grid;
    // width: 80%;
    // padding: 0 15px;
  }
  .card {
    background-color: $secondaryColor;
    color: $primaryColor;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 30vw;
    cursor: pointer;
    @include mobileSS {
      width: 100%;
      margin: 20px 0px;
    }
    &:hover {
      box-shadow: 0 5px 10px rgba(96, 95, 95, 0.8);
    }
    img {
      width: fit-content;
      border-radius: 10px;
      max-width: 100%;
      height: auto;
      object-fit: fill;
    }
    .inner {
      padding: 20px;
      h3 {
        font-weight: 400;
      }
    }
  }
}
