// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "reset";
@import "variables";
@import "colors";
@import "mixins";
@import "screensize";
@import "layouts";
@import "typos";
@import "buttons";
@import "markdown";
@import "post_page";
@import "posts";
@import "pharmacist";
@import "books_list";
@import "projects";
@import "footer";
@import "products";
@import "landing";
@import "addAgent";
@import "form";
@import "navbar";
@import "contact";
@import "agentsList";
@import "table";
@import "modal";
@import "reg";
@import "payment";

:root {
  // --fontFamily: "Roboto", sans-serif;
  --fontFamily: "Rajdhani", sans-serif;
  /* --fontFamily: "Space Grotesk, sans-serif", */
}

body {
  font-family: var(--fontFamily);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      rgba(9, 106, 163, 0.391),
      rgba(2, 4, 14, 0.358)
    ),
    url(../public/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .textArea {
    background-color: rgba(0, 0, 0, 0.598);
    margin: 0 auto;
    padding: 40px 40px;
    color: #fff;
    max-width: 35vw;
    p {
      padding: 15px 0;
      line-height: 2.3rem;
      font-weight: 400;
    }
  }
  .comp {
    padding-left: 20vw;
    @include mobileSS {
      padding-left: 0;
    }
  }
}
